@import "../../components/SideBar/sidebar";
@import "../../components/NavBar/navbar";
@import "../../components/Hero/_hero.scss";
@import "../../components/AboutMe/_aboutME.scss";

.containerHome{
    display: flex;
    height: 100%;
    position: relative;  
}


.contentHome{
    width: 100%;
    padding-left: 120px;
    height: 100%;
    box-sizing: border-box;

    @include responsive(s){
        padding-left: 0;
    }

    @include responsive(m){
        padding-left: 20px;
    }
}
