.navBarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    @include responsive(s){
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        left: -20%;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 80px;
        align-items: center;
        padding: 24px;

            @include responsive(s){
                flex-direction: column;
                gap: 20px;
                padding: 12px;
                position: relative;
                left: 15%;
            }

            div {
                display: flex;
                flex-direction: row;
                gap: 80px;
                
                a {
                    list-style: none;
                    padding: 15px 50px;
                    background-color: #000000;
                    cursor: pointer;
                    border-radius: 1rem;
                    transition: background-color 0.3s ease, border 0.3s ease, transform .3s ease; /* Transição suave */
                    text-decoration: none;
                    color: #FFF;
                    text-transform: uppercase;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 600;
        
                    &:hover {
                        background-color: transparent;
                        transform: scale(1.1);
                        border: #1BD845 solid 1px;
                        text-align: center;
                    }
        
                    @include responsive(s){
                        padding: 5px 25px;
                    }
                }
            }
        }
    
        
        
    }